.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  margin: 20px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.file-upload {
  background-color: #2b2b2b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.canvas {
  margin-bottom: 20px;
}

.file-title {
  color: #0c3380;
}

.upload {
  display: none;
}

.audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio-controller {
  width: 100%;
}